body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 ;
    padding: 0;
}

header{
    background-color: #333;
    
    text-align: center;
    padding: 1em 0;
}
 
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
}
